absl-py
black
chex
dm-haiku @ git+https://github.com/deepmind/dm-haiku@3ce077d143dd07dbcbdeec884b5045d3f58a6113
dm-tree==0.1.6
flax==0.3.6
isort
jax
jaxlib 
numpy==1.21.4
optax==0.1.0
pytest
regex
scipy==1.7.2
tensorflow
dm-acme[jax]
dm-acme[envs]
dm-sonnet
bsuite
wandb