hydra:
  run:
    dir: .
  sweep:
    dir: .
    subdir: .
  job_logging:
    root:
      level: INFO

# Global variables 
seed: 0
save_dir: "./exp/${wandb.group}/${wandb.name}"

# Agents  
agent1: 'PPO'
agent2: 'TitForTat'

# Environment
game: ipd 
payoff:

# Training hyperparameters
num_envs: 100
num_steps: 50 # number of steps per episode
total_timesteps: 100_000_000
eval_every: 500 # eval every n episodes, not timesteps

# Useful information
# num_episodes = total_timesteps / (num_steps * num_envs) 
# num_updates = num_episodes / eval_every

# DQN agent parameters
dqn: 
  batch_size: 256
  discount: 0.99
  learning_rate: 1e-2
  epsilon: 0.5
  replay_capacity: 100000
  min_replay_size: 1000
  sgd_period: 1 
  target_update_period: 4 

# PPO agent parameters
ppo:
  num_minibatches: 10
  num_epochs: 4 
  gamma: 0.99 
  gae_lambda: 0.95
  ppo_clipping_epsilon: 0.2
  value_coeff: 0.5
  clip_value: True
  max_gradient_norm: 0.5
  anneal_entropy: True
  entropy_coeff_start: 0.01
  entropy_coeff_horizon: 200_000_000
  entropy_coeff_end: 0.001
  lr_scheduling: False
  learning_rate: 2.5e-4
  adam_epsilon: 1e-5
  with_memory: False

# LOLA agent parameters
# lola:
#   ... 

# Logging setup
wandb:
  entity: "ucl-dark"
  project: ipd
  group: '${agent1}-vs-${agent2}-${game}-with-memory=${ppo.with_memory}'
  name: run-${seed}
  log: True
